@if (livro()) {

<article class="livro">

    <h1 class="topo">Catálogo</h1>

    <div class="conteudo">

        <!-- MINIATURAS -->
        <div class="adicionais">
            <img src="{{livro()!.imageURL}}"
                alt="Miniatura livro">

            <img src="{{livro()!.imageURL}}"
                alt="Miniatura livro">
        </div>

        <!-- IMAGEM PRINCIPAL -->
        <div class="principal">
            <img src="{{livro()!.imageURL}}"
                alt="Livro principal">
        </div>

        <div class="info">

            <h3 class="titulo">{{ livro()!.titulo }}</h3>

            @if (livro()!.empromocao) {
            <span class="selo promo">Promoção</span>
            }

            <div class="preco-container">
                @if (livro()!.empromocao) {
                <span class="preco desconto">
                    {{ livro()!.preco | desconto:10 | currency:'BRL':'symbol':'1.2-2' }}
                </span>
                } @else {
                <span class="preco">
                    {{ livro()!.preco | currency:'BRL':'symbol':'1.2-2' }}
                </span>
                }
            </div>

            <app-quantidade-controle [contador]="contador()" (contadorChange)="contador.set($event)" />


            <div class="acoes">
                @if (contador() > 0) {
                <button class="btn" (click)="onAdd()">Adicionar</button>
                }
            </div>
            <p class="sinopse">{{ livro()!.sinopse }}</p>
            <div class="Detalhes">
                <button class="btn" (click)="onView()">Detalhes</button>
                @if(mostrarDetalhes()){
                <p class="texto-detalhes">
                    FICHA TÉCNICA
                    <br>
                    Autor: J.K. Rowling<br>
                    Páginas: 352<br>
                    Editora: Rocco<br>
                    Idioma: PORTUGUES<br>
                    Encadernação: CAPA DURA<br>
                    ISBN-13: 9788532530431<br>

                    ASSUNTO: Teatro<br>

                    DIMENSÕES<br>
                    Altura: 23,00cm<br>
                    Largura: 16,00cm<br>
                    Espessura: 2,00cm<br>
                    Peso: 0,401kgv
                </p>
                }
            </div>
        </div>
    </div>
</article>

}