.historico {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 16px;
    margin-left: 20px;
}

/* ===== TOPO ===== */
.topo {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.aba-item {
    text-decoration: none;
    color: var(--cinza); 
    font-weight: 600;
    padding: 10px 0;
    transition: color 0.2s;
    position: relative;
    font-size: 1.1rem; 
}

.aba-item:hover {
    color: var(--preto-botoes);
}

.aba-item.aba-ativa {
    color: var(--preto-botoes); 
}

.aba-item.aba-ativa::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--azul-principal); 
    border-radius: 2px;
}

.historico>div:first-of-type {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.links {
    text-decoration: none;
    font-weight: 500;
    color: var(--cinza);
    cursor: pointer;
}

.atual{
    color: var(--preto-botoes);
}

/* ===== ITEM ===== */
.item {
    display: flex;
    gap: 16px;
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 12px;
    background: var(--branco);
}

.item img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #eee;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info h3{
    margin-top: 0px;
    font-size: 1.15rem;
    font-weight: 500;
}
.info p{
    margin-top: 0px;
}
.titulo{
        margin-top: 0px;

}
.preco {
    margin-top: 0px;
    font-weight: 600;
}