.abas-menu {
    display: flex;
    gap: 20px;
    margin: 10px 20px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px;
}

.aba-item {
    text-decoration: none;
    color: var(--cinza); 
    font-weight: 600;
    padding: 10px 0;
    transition: color 0.2s;
    position: relative;
    font-size: 1.1rem; 
}

.aba-item:hover {
    color: var(--preto-botoes);
}

.aba-item.aba-ativa {
    color: var(--preto-botoes); 
}

.aba-item.aba-ativa::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--azul-principal); 
    border-radius: 2px;
}

.menu-abas h1 {
    font-size: 1.9rem;
    color: var(--preto-botoes);
    padding: 15px
}

.top-icon {
    position: absolute;
    top: 16px;
    right: 16px;
}