.navbar{
    background-color: var(--azul-principal);
    width: 20%;
    height: 100vh;
    margin: 0px;
}

.navbar img{
    width: 100%;
}

.navbar li{
    list-style: none;
    padding: 5px;
}

.navbar a{
    text-decoration: none;
    color: var(--preto-footer);
}

.navbar a:hover{
    color: var(--preto-footer);
    background-color: var(--branco);
}