.auth-shell {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
.auth-content {
    flex-grow: 1; 
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto; 
}
app-footer {
    width: 100%;
    margin-top: auto; 
}