.catalogo-wrapper {
    padding: 20px;
}

.catalogo-header {
    display: grid;
    grid-template-columns: 65% 5% 15% 15%;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    font-size: 0.9rem;
    color: var(--cinza);
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;

}
.info .icon-info {
    color: var(--preto-botoes);
    font-weight: 600;
}

.busca-area {
    margin-bottom: 20px;
}

.search-field {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.search-field input {
    flex-grow: 1;
    border: none;
    padding: 12px 15px;
    font-size: 1rem;
    outline: none;
    
}

.btn-icon {
    background-color: var(--azul-principal);
    color: var(--preto-botoes);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
    border-radius: 8px;
}
.btn-icon:hover {
    background-color: var(--azul-principal);
}

.search-icon {
    padding: 0 15px;
    color: var(--cinza);
}

.alfabeto-filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.letra-link {
    font-size: 0.85rem;
    color: var(--cinza);
    cursor: pointer;
    font-weight: 600;
    padding: 2px 4px;
}

.letra-link:hover, .letra-link.ativo {
    color: var(--preto-botoes);
    text-decoration: underline;
}

.secao-letra {
    font-size: 1.5rem;
    color: var(--preto-botoes);
    margin-bottom: 20px;
    display: flex;
}

.livros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.livro-card {
    background: var(--branco);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.livro-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.livro-thumb {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.livro-titulo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--preto-botoes);
    margin-bottom: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.livro-autor {
    font-size: 0.8rem;
    color: var(--cinza);
    margin-bottom: 8px;
}

.preco-simples {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--preto-botoes);
}

.loading-message, .vazio {
    text-align: center;
    padding: 40px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    margin-top: 20px;
}

.top-icon{
    font-size: 24px;
    color: var(--azul-principal);
}