<section class="catalogo-wrapper">
    <div class="catalogo-header">

        <div class="search-field">
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Procurar por nome..." (input)="onBusca($event)">
        </div>
        <button class="btn-icon">></button>

        <app-icones></app-icones>


    </div>


    <div class="alfabeto-filtro">
        @for (letra of alfabeto; track letra) {
        <span class="letra-link" [class.ativo]="letra === filtroAtivo()" (click)="onFiltroAlfabetico(letra)">{{ letra
            }}</span>
        }

        <span class="letra-link" [class.ativo]="filtroAtivo() === 'TODOS'"
            (click)="onFiltroAlfabetico('TODOS')">TODOS</span>
    </div>


    @if (termoBusca().length == 0) {
    <h3 class="secao-letra">{{ filtroAtivo() }}</h3>
    }

    @if (loading()) {

    <div class="loading-message">
        Carregando livros, por favor aguarde...
    </div>

    } @else {

    <div class="livros-grid">

        @for (livro of livros(); track livro.id) {
        <article class="livro-card" [class.promo]="livro.empromocao" [class.esgotado]="livro.estoque === 0"
            [routerLink]="['/catalogo', livro.id]">

            <img [src]="livro.imageURL" [alt]="livro.titulo" class="livro-thumb">

            <div class="card-content">
                <h3 class="livro-titulo">{{ livro.titulo }}</h3>
                <p class="livro-autor">{{ livro.autor | uppercase }}</p>
                <span class="preco-simples">
                    {{ livro.preco | currency:'BRL':'symbol':'1.2-2' }}
                </span>
            </div>

        </article>

        }
        @empty {
        <p class="vazio">
            Nenhum livro encontrado para o filtro "{{ filtroAtivo() }}".
        </p>
        }

    </div>
    }
</section>