:root {
    --azul-principal: #75D2F0;
    --preto-footer: #000000;
    --preto-botoes: #03151E;
    --branco: #FFFFFF;
    --cinza: #8A8A8A;
}


body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}