.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}

.info {
    font-size: 0.9rem;
    color: var(--cinza);
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;

}
.info .icon-info {
    color: var(--preto-botoes);
    font-weight: 600;
}

.top-icon{
    font-size: 24px;
    color: var(--azul-principal);
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #d32f2f;
  color: #fff;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: 600;
  min-width: 18px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 999px;
}


.icon-wrapper {
  position: relative;
  display: inline-block;
}
