<section class="resumo" *ngIf="pedido as p">
    <h2 class="topo">Resumo do Pedido</h2>

    <p><strong>Data:</strong> {{ p.data | date:'short' }}</p>
    <p><strong>Cliente:</strong> {{ nomeUsuario }}</p>

    <h3>Endereço</h3>
    <p>
        {{ p.endereco.rua }}, {{ p.endereco.numero }} <br>
        {{ p.endereco.bairro }} - {{ p.endereco.cidade }}/{{ p.endereco.estado }} <br>
        CEP: {{ p.endereco.cep }}
    </p>

    <h3 >Itens</h3>
    <div *ngFor="let item of p.itens" class="item">
        <p>
            {{ item.livro.titulo }} ({{ item.quantidade }}x) —
            R$ {{ (item.livro.preco * item.quantidade).toFixed(2) }}
        </p>
    </div>

    <h3 class="total">Total: R$ {{ p.total.toFixed(2) }}</h3>
</section>