.app-shell {
    display: flex;
    min-height: 100vh;
    padding-bottom: 80px; 
}

.content-area {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20%;
    min-height: 100vh;
}

app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}