.app-shell {
    display: flex;
    height: 100vh;
}

app-menu-lateral {
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #7bd4ef;
}


.content-area {
    margin-left: 250px; 
    padding: 20px;
    min-height: calc(100vh - 150px); 
    box-sizing: border-box;
}

app-footer {
    margin-left: 250px;               
    width: calc(100% - 250px);        
    padding: 20px;
    background: #000;                 
    color: white;
    text-align: center;
    box-sizing: border-box;
}
