/* 
:root {
    --azul-principal: #75D2F0;
    --preto-footer: #000000;
    --preto-botoes: #03151E;
    --branco: #FFFFFF;
    --cinza: #8A8A8A;
} */
.contador{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--cinza);
    border-radius: 6px;
    padding:6px 60px;
    margin-top: 10px;

}

.contador button{
    border: none;
    background: var(--branco);
    color: var(--cinza);
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.contador button:hover{
    opacity: .90;
}

.valor{
    min-width: 24px;
    text-align: center;
    font-weight: 600;
}