.checkout {
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 10;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 16px;
    margin-left: 20px;
}

.form-area {
    flex: 3;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.form-container h2 {
    font-weight: 700;
    color: var(--preto-botoes);
    padding: 10px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.campo-full {
    grid-column: 1 / -1;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.campo label {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--cinza);
}

.campo input[type="text"],
.campo input[type="number"],
.campo select,
.campo textarea {
    padding: 10px 15px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: #f7f7f7;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 60%;
}


.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    outline: none;
    border-color: var(--azul-principal);
    box-shadow: 0 0 0 1px var(--azul-principal);
    background-color: var(--branco);
}

.campo input.ng-dirty.ng-invalid,
.campo textarea.ng-dirty.ng-invalid,
.campo select.ng-dirty.ng-invalid {
    border-color: #e74c3c;
    background-color: #fffafa;
}


.campo input.ng-dirty.ng-valid,
.campo textarea.ng-dirty.ng-valid,
.campo select.ng-dirty.ng-valid {
    border-color: #2ecc71;
    background-color: #f8fff8;
}


.botoes-formulario {
    margin: 30px 15px;
    text-align: center;
    width: 40%;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--preto-botoes);
    color: var(--branco);
    transition: background-color 0.2s, opacity 0.2s;
}

.botoes-formulario:hover:not(:disabled) {
    background: var(--branco);
    color: var(--preto-botoes);
    border: 1px solid var(--preto-botoes);
}

.botoes-formulario:disabled {
    background-color: var(--cinza);
    opacity: 0.6;
    cursor: not-allowed;
}

.mensagem {
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    background-color: #fdd;
    border: 1px solid #e74c3c;
    color: #e74c3c;
}