footer{
    width: 100%;
    background-color: var(--preto-footer);
    color: var(--branco);
}

.contato-footer{
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contato-footer p{
    margin: 0 15px;
}

.direitos-autorais {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.navegacao-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegacao-footer li{
    margin-right: 30px;
}

.navegacao-footer a{
    text-decoration: none;
    color: var(--branco);
    margin: 0 10px;
}

.navegacao-footer a:hover{
    text-decoration: underline;
}

.navegacao-footer li{
    list-style: none;
    margin-top: 8px;
}

